<div class="card">
    <h1 class="card-header">About Us</h1>
    <p class="card-content">
    We aimed to build an education tool that would recognize ASL Hand Shapes and translate their meanings to English
    <br>This would help:
    <br>    - Non-Signers trying to learn ASL
    <br>    - Signers trying to learn English
    <br>    - People who want to learn languages (Apps Like Duolingo)
    <br>    - Translation (in a pinch) for signers
    </p>
</div>

<div class="card">
    <h1 class="card-header">Contact Information</h1>
    <p class="card-content">
    Rohaan Williams: rwill046@uottawa.ca
    <br>Sirjan Singh Rekhi: srekh085@uottawa.ca
    <br>Graham Littlewood: glitt073@uottawa.ca
    <br>Chen Zhao: czhao027@uottawa.ca
    <br>Rakan Al Tamimi: ralta050@uottawa.ca
    </p>
</div>