<div class="card">
    <h1 class="card-header">About Us</h1>
    <p class="card-content">We aimed to build an education tool that would recognize ASL Hand Shapes and translate their meanings to English</p>
    <p class="card-content">This would help:
        - Non-Signers trying to learn ASL
        - Signers trying to learn English
        - People who want to learn languages (Apps Like Duolingo)
        - Translation (in a pinch) for signers
        </p>
</div>

<div class="card">
    <h1 class="card-header">Contact Information</h1>
    <p class="card-content">Rohaan Williams: rwill046@uottawa.ca</p>
    <p class="card-content">Sirjan Singh Rekhi: srekh085@uottawa.ca</p>
    <p class="card-content">Graham Littlewood: glitt073@uottawa.ca</p>
    <p class="card-content">Chen Zhao: czhao027@uottawa.ca</p>
    <p class="card-content">Rakan Al Tamimi: ralta050@uottawa.ca</p>
</div>