<div class="card">
    <h1 class="card-header">What's New</h1>
    <p class="card-content">Welcome to the ALS App</p>
</div>

<div class="card">
    <h1 class="card-header">Things You Can Try</h1>
    <p class="card-content">Use the side panel to navigate to the ALS, Settings or About</p>
</div>

<div class="card">
    <h1 class = "card-header">ASL Today</h1>
    <img class = "card-img" id="sign-img" src="assets/ASL/again.png">
    <button (click)="changeImage()" id="card-button" class='card-button'>Next</button>
</div>